# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Local env files
.env

# Build output
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# Uploaded files
uploads/

# Ignore public cache or temp files if needed
Public/*.tmp
